<div id="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs -->
        <app-breadcrumbs></app-breadcrumbs>
        <!-- Mi sistema de rutas -->
        <router-outlet></router-outlet>
        <!-- <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  This is some text within a card blaock.
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
          © 2021 DiscoBeats by Nicolás Nieto, Camilo Preciado & Tatiana Villanueva
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
    </div>
</div>
