<div class="row">
  <!-- Column -->
  <div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card" *ngFor="let artis of artista">
      <img class="card-img" src="../assets/images/background/socialbg.jpg" alt="Card image">
      <div class="card-img-overlay card-inverse social-profile d-flex text-center">
        <div class="align-self-center">
          <img src="../assets/images/artistas.png" class="img-circle" width="100">
          <h3 class="card-title">{{ artis.nombreArtistico | uppercase}}</h3>
          <h6 class="card-subtitle">@{{ nombreArtistico | lowercase }}</h6>
          <br>
          <p class="text-white">Fecha nacimiento: {{ artis.fechaNacimiento | date : 'dd-MM-yyyy' }} </p>
          <br><br>
          <p class="text-white">{{ artis.descripcion }} </p>
          <div class="card-body text-center">
            <small class="text-muted p-t-30 db">Perfil Social</small>
            <button class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></button>
            <button class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></button>
            <button class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></button>
            <button class="btn btn-circle btn-secondary"><i class="fa fa-spotify"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-8 col-xlg-9 col-md-7">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Álbumes
            destacados</a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Canciones populares</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content" style="background-color:#398bf759">
        <div class="tab-pane active" id="home" role="tabpanel">
          <div class="card-body" *ngFor="let alb of album">
            <div class="profiletimeline">
              <div class="sl-item">
                <div class="sl-left">
                  <a [routerLink]="['/inicio/detalle-album', alb.id]"> <img src="../assets/images/discos.png" alt="user"
                      class="img-circle w-20" /></a>
                </div>
                <div class="sl-right">
                  <div>
                    <h3><strong>{{ alb.nombre | uppercase }}</strong></h3>
                    <h5><i class="mdi mdi-calendar"></i> Fecha de Lanzamiento: {{ alb.fechaLanzamiento | date :
                      'dd-MM-yyyy' }}</h5>
                    <div class="row">
                      <div class="col-lg-4 col-md-10 m-b-20"><img src="../assets/images/background/album1.jpg"
                          class="img-responsive radius" /></div>
                      <div class="col-lg-4 col-md-10 m-b-20"><img src="../assets/images/background/album2.jpg"
                          class="img-responsive radius" /></div>
                      <div class="col-lg-4 col-md-10 m-b-20"><img src="../assets/images/background/album1.jpg"
                          class="img-responsive radius" /></div>
                    </div>
                    <h5>Descripción: {{ alb.descripcion }}</h5>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <!--second tab-->
        <div class="tab-pane" id="profile" role="tabpanel">
          <div class="card-body" *ngFor="let canc of cancion">
            <div class="profiletimeline">
              <div class="sl-item">
                <div class="sl-left">
                  <a [routerLink]="['/inicio/detalle-cancion', canc.id]"> <img src="../assets/images/musical.png"
                      alt="user" class="img-circle w-20" /></a>
                </div>

                <div class="sl-right">
                  <div>
                    <h3><strong>{{ canc.nombre | uppercase }}</strong></h3>
                    <br>
                    <div class="row">
                      <div class="col-lg-4 col-md-10 m-b-20"><img src="../assets/images/background/cancion.jpg"
                          class="img-responsive radius" /></div>
                      <div class="column">
                        <h5><i class="mdi mdi-timer"></i> Duración: {{ canc.duracion }}</h5>
                        <h5><i class="mdi mdi-calendar"></i> Fecha de Lanzamiento: {{ canc.fechaLanzamiento | date :
                          'dd-MM-yyyy' }}</h5>
                        <h5><i class="mdi mdi-bookmark-music"></i> Reproducciones: {{ canc.reproducciones }}</h5>

                        <hr>
                        <h5 class="m-t-30">Ritmo <span class="pull-right">90%</span></h5>
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                            aria-valuemax="100" style="width:80%; height:6px;"> <span class="sr-only">50%
                              Complete</span> </div>
                        </div>
                        <h5 class="m-t-30">Letra<span class="pull-right">95%</span></h5>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                            aria-valuemax="100" style="width:90%; height:6px;"> <span class="sr-only">50%
                              Complete</span> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
</div>
